html,
body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: 'Microsoft YaHei UI';
  color: #5e5e5e;
  font-size: 14px;
}
.text-center{
  text-align: center;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
a{
  text-decoration: none;
}
a:visited{
  color: inherit;
}
ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before{
  display: table;
  content: " ";
}
.clearfix:after{
  display: table;
  content: " ";
  clear: both;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.color-price{
  color: #da000e;
}
